<!DOCTYPE html>
<html data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/template/css/daisyui.css" rel="stylesheet" type="text/css"/>
    <link href="/template/css/main.css" rel="stylesheet" type="text/css"/>
    <script src="/template/js/jquery.min.js"></script>
    <script src="/template/js/base.js"></script>
    <script src="/template/js/themeChange.js"></script>
    <script src="/template/js/full.js"></script>
    <script src="/template/js/index.js"></script>
    <!--@RESOURCE-->
    <!--@RESOURCE--><!--@END-->
    <script src="/template/js/final.js"></script>
</head>
<body>
<div class="lilypadoc-view flex flex-col invisible">
    <div id="header" class="slidable-header">
    </div>
    <div class="flex flex-col w-full items-start md:flex-row z-0">
        <main class="flex w-full" id="main">
            <!--@TEMPLATE INDEX AREA-->
            <div class="hero min-h-screen" style="background-image: url('static/@background');">
                <div class="hero-content text-center">
                    <div class="max-w-lg">
                        <h1 class="text-5xl font-bold">@title</h1>
                        <p class="py-6">@tips</p>

                        <!--@BODY AREA-->
                        <!--@BODY AREA--><!--@END-->

                    </div>
                </div>
            </div>
            <!--@TEMPLATE INDEX AREA--><!--@END-->
        </main>
    </div>

    <div id="footer">

    </div>
</div>
<script>
</script>
</body>
</html>