{
  "theme": {
    "themeSelect": {
      "enable": true,
      "themeList": [
        "light",
        "dark",
        "cupcake",
        "bumblebee",
        "emerald",
        "corporate",
        "synthwave",
        "retro",
        "cyberpunk",
        "valentine",
        "halloween",
        "garden",
        "forest",
        "aqua",
        "lofi",
        "pastel",
        "fantasy",
        "wireframe",
        "black",
        "luxury",
        "dracula",
        "cmyk",
        "autumn",
        "business",
        "acid",
        "lemonade",
        "night",
        "coffee",
        "winter",
        "dim",
        "nord",
        "sunset"
      ]
    }
  },
  "index": {
    "title": "春困秋乏",
    "tips": "关门睡觉",
    "background": "bg.jpg"
  },
  "header": {
    "indexPath": "/index.html",
    "title": "<b class=\"text-xl text-rose-700\">春困</b><b class=\"text-xl text-sky-600\">秋乏</b>",
    "logo": {
      "path": "/template/icon.svg"
    },
    "navbar": {
      "items": [
        {
          "href": "127.0.0.1",
          "value": "文档",
          "newWindow": false
        }
      ]
    }
  },
  "footer": {
    "footerBar": {
      "footerCols": [
        {
          "title": "文档",
          "linkItems": [
            {
              "href": "127.0.0.1",
              "value": "使用指南",
              "newWindow": false
            }
          ]
        },
        {
          "title": "联系方式",
          "linkItems": [
            {
              "href": "javaScript:;",
              "value": "xxxx",
              "newWindow": false
            }
          ]
        },
        {
          "title": "MORE",
          "linkItems": [
            {
              "href": "https://github.com/diodeme/lilypadoc",
              "value": "Github",
              "newWindow": true
            }
          ]
        }
      ]
    },
    "copyRight": "Build With @ Lilypadoc",
    "outerLink": {
      "linkItems": [
      ]
    }
  }
}